<body>
  <div class="container px-6 py-6 mx-auto max-w-full sm:max-w-7xl">
    <h2 class="text-center text-2xl font-semibold my-6">Módulos Interactivos</h2>
    <h3 class="text-center text-lg mb-4">Selecciona el módulo, recuerda que debes completarlos consecutivamente para seguir con el siguiente</h3>

    <!-- Contenedor con scroll horizontal -->
    <div class="mx-auto mt-10 mb-8 p-4 bg-white shadow-lg rounded-lg">
      <section style="min-width: 100%; white-space: nowrap;">
        <!-- Mostrar cada curso -->
        <div *ngFor="let course of courses" class="course-card bg-white shadow-lg rounded-lg p-4 flex flex-col items-center mb-8">
          <img 
            *ngIf="course.imagen_url" 
            [src]="course.imagen_url" 
            alt="{{ course.titulo }}" 
            class="w-full max-h-48 object-contain rounded-md mb-4"
          />
          
          <h4 class="text-xl font-semibold text-gray-800 text-center max-w-xs sm:text-lg lg:text-xl">{{ course.titulo }}</h4>
          
          <!-- Botón para acceder al módulo del curso (no ocupa todo el ancho) -->
          <button 
            (click)="module(course.id)" 
            class="mt-4 w-1/2 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            Iniciar módulo
          </button>
        </div>
      </section>
    </div>
  </div>
</body>
