<form [formGroup]="form" (ngSubmit)="submit()" class="max-w-3xl mx-auto bg-gray-50 p-8 shadow-lg rounded-lg">
    <h2 class="text-3xl font-bold mb-6 text-gray-900">Actualizar Modulo</h2>
  
    <!-- Título -->
    <div class="mb-6">
      <label class="block text-lg font-medium" for="titulo">Título del Modulo:</label>
      <input id="titulo" formControlName="titulo" type="text" class="w-full border" placeholder="titulo" />
    </div>
  

    <!-- Tipo -->
    <div class="mb-6">
      <label class="block text-lg font-medium" for="curso_tipo">Tipo del Modulo:</label>
      <input id="curso_tipo" formControlName="curso_tipo" type="text" class="w-full border" placeholder="tipo de curso" />
    </div>

    <!-- Introduccion -->
    <div class="mb-6">
      <label class="block text-lg font-medium" for="introduccion">Introduccion:</label>
      <textarea id="introduccion" formControlName="introduccion" rows="4" class="w-full border" placeholder="introduccion"></textarea>
    </div>

    <!-- Informacion -->

    <div class="mb-6">
        <label class="block text-lg font-medium" for="informacion">Información:</label>
        <textarea id="informacion" formControlName="informacion" rows="4" class="w-full border" placeholder="Información"></textarea>
    </div>


      <div class="mb-6">
        <label class="block text-lg font-medium" for="conclusion">Conclusion:</label>
        <textarea id="conclusion" formControlName="conclusion" rows="4" class="w-full border" placeholder="conclusion"></textarea>
    </div>

    <!-- video -->

    <div class="mb-6">
      <label class="block text-lg font-medium" for="link">video:</label>
      <textarea id="link" formControlName="link" rows="4" class="w-full border" placeholder="link"></textarea>
    </div>

    <!-- imagen -->

    
    <div class="mb-6">
      <label class="block text-lg font-medium" for="imagen_url">imagen_url:</label>
      <textarea id="imagen_url" formControlName="imagen_url" rows="4" class="w-full border" placeholder="imagen_url"></textarea>
    </div>

    <!-- pdf -->

    <div class="mb-6">
        <label class="block text-lg font-medium" for="pdf_name">pdf:</label>
        <textarea id="pdf_name" formControlName="pdf_name" rows="4" class="w-full border" placeholder="pdf_name"></textarea>
    </div>

    <button type="submit" class="bg-green-500 text-white w-full py-2 rounded">Actualizar Examen</button>
  </form>
  