
<body class="bg-gray-100 text-gray-900">

<div class="container mx-auto mt-10">
    <!-- Header -->
    <div class="bg-gradient-to-r from-red-500 to-red-700 text-white py-6 px-4 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold">Aprobados</h2>
        <p class="text-sm mt-1">Lista completa de Clientes Aprobados.</p>
    </div>

    <!-- Table -->
    <div class="mt-6 bg-white shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full table-auto text-left text-gray-700">
            <thead class="bg-gray-100 border-b">
                <tr>
                  <th class="px-4 py-2 font-semibold text-sm uppercase tracking-wide">secuencial aprobados</th>
                  <th class="px-4 py-2 font-semibold text-sm uppercase tracking-wide">Id cliente</th>
                  <th class="px-4 py-2 font-semibold text-sm uppercase tracking-wide">Cliente</th>
                  <th class="px-4 py-2 font-semibold text-sm uppercase tracking-wide">Correo asociado</th>
                  <th class="px-4 py-2 font-semibold text-sm uppercase tracking-wide">cedula</th>
                  <th class="px-4 py-2 font-semibold text-sm uppercase tracking-wide">telefono</th>

                  <th class="px-4 py-2 font-semibold text-sm uppercase tracking-wide">Correo Enviado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let actual of aprobado" class="border-b hover:bg-gray-50 transition">
                  <td class="px-4 py-3 text-sm">{{ actual.id }}</td>
                  <td class="px-4 py-3 text-sm">{{ actual.client_id }}</td>
                  <td class="px-4 py-3 text-sm">{{ actual.clientName }}</td>
                  <td class="px-4 py-3 text-sm">{{ actual.clienttel }}</td>
                  <td class="px-4 py-3 text-sm">{{ actual.clientcedula }}</td>
                  <td class="px-4 py-3 text-sm">{{ actual.clientEmail }}</td>
                  <td class="px-4 py-3 text-sm">{{ actual.aprobacionSymbol }}</td>
                  <!-- Botón Enviar Correo -->
                  <td class="px-4 py-3 text-sm">
                    <button
                      (click)="goToSendEmail(actual.clientEmail, actual.id)"
                      class="bg-blue-500 text-white py-1 px-3 rounded hover:bg-blue-600"
                    >
                      Enviar Correo
                    </button>
                </tr>
              </tbody>

        </table>
    </div>
</div>

</body>
